.header{
    background-color: white;
    border-bottom: 2px solid grey;
    font-size: 1.5rem;
    padding: 3rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    
}
.header span{
    font-size: 2rem;
    font-weight: bolder
}
.header a{
    text-decoration: none;
    color: black;
    padding-inline: 0.5rem;
}